# email
SMTP_HOST = 'smtp'
SMTP_SERVICE = 'gmail'
SMTP_PORT = 465
SMTP_USER= 'roshikabhattarai74@gmail.com'
SMTP_PASS= 'qeoh kczx jbed yjvz'

# cloudinary

CLOUDINARY_CLOUD_NAME= 'dc8nfv2dh'
CLOUDINARY_API_KEY= '393348551351815'
CLOUDINARY_API_SECRET= 'NT9ha3YrZ0o4HZImgJpOlcKQAE0'

# jwt
JWT_SECRET = 'jdksbf438y89p34y#^r64737SDF#DVFSH'
JWT_EXPIRY = '7d'
